@model test_managment.Models.AdminTestRequestViewVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Test Type
            </th>
            <th>
                Date Requested
            </th>
            <th>
                Approval Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TestRequests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestingPatient.FirstName) @Html.DisplayFor(modelItem => item.RequestingPatient.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TestType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRequested)
                </td>
                <td>
                    @if (item.Approved == true)
                    {
                        <span class="badge badge-success">Approved</span>
                    }
                    else if (item.Approved == false)
                    {
                        <span class="badge badge-danger">Rejected</span>
                    }
                    else
                    {
                        <span class="badge badge-warning">Pending Approval</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#tblData').DataTable();
        });
    </script>
}
